// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box {
  display: flex;
}

.letters > li {

  text-align:
  text-just
  border: solid 5px black;
  background: yellow;


}


p {
  color: red;
   margin: 10px;
  padding: 5px;

}

.letters {
  background: green;
  display: flex;
  list-style: none;



}

.user-answer {

}
